<!DOCTYPE html>
<html>

<head>
  <title>About</title>
  <link rel='icon' href='/img/icon.png' />
  <link rel='stylesheet' href='/css/styles.css' />
</head>

<body>
  {{> header }}
  <section class="main-content">
    <img src='/img/robot.png' class="portrait" />
  </section>
  {{> footer }}
</body>

</html>