<!DOCTYPE html>
<html>

<head>
  <title>Help</title>
  <link rel='icon' href='/img/icon.png' />
  <link rel='stylesheet' href='/css/styles.css' />
</head>

<body>
  {{> header }}
  <section class="main-content">
    <p>{{ help_message }}</p>
  </section>

  {{> footer }}
</body>

</html>